/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
Custom Font - Avenir Next
========================================================================== */

@font-face {
  font-family: 'AvenierNext-Bold';
  src: url(fonts/AvenirNext-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url(fonts/AvenirNext-Medium-06.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url(fonts/AvenirNext-Regular-08.ttf) format('truetype');
}

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  animation: fadeIn 1s ease-in-out;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'AvenirNext-Regular', Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

/* ==========================================================================
Typography Styles
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext-Bold';
  color: #00416b;
}

h2.blue-bold {
  font-size: 36px;
}

h2.blue-bold-small {
  font-size: 24px;
}

h2.blue-light {
  font-size: 24px;
  font-family: 'AvenirNext-Medium';
  font-weight: 500;
  color: #00416b;
}

h2.green-bold {
  font-size: 32px;
  color: #69bd45;
}

h2.green-medium {
  font-family: 'AvenirNext-Medium';
  font-size: 32px;
  font-weight: 500;
  color: #69bd45;
}

h3.green-medium {
  font-family: 'AvenirNext-Medium';
  font-size: 24px;
  font-weight: 500;
  color: #69bd45;
}

p {
  font-size: 16px;
  font-family: 'AvenirNext-Regular';
  color: #00416b;
}

a {
  color: #00416b;
}

a.link-bold {
  font-weight: 700;
}

ul > li {
  color: #00416b;
  line-height: 2;
}

/* ==========================================================================
Button Styles
========================================================================== */

.button-cta > button {
  border: none;
  margin-bottom: 54px;
}

.quote-button {
  background-color: #45b5d0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 16px 64px;
}

.quote-button.green {
  background-color: #69bd45;
}

/* ==========================================================================
Navigation Styles
========================================================================== */

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-height: 100px;
  background: #fff;
  padding: 0 10px;
}

.top-nav .logo > img {
  width: 196px;
  height: 54px;
  object-fit: contain;
  padding: 10px;
}

.top-nav > ul {
  display: flex;
  list-style: none;
}

.top-nav li > a {
  color: #707070;
  font-size: 21px;
  font-weight: bold;
  padding: 0 60px 0 0;
  text-decoration: none;
  display: inline-block;
}

.top-nav a:hover {
  color: #1aa2dd;
}

.top-nav a.active {
  color: #1aa2dd;
}

/* ==========================================================================
Hero Styles
========================================================================== */

.hero {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 600px;
  flex-direction: column;
  background-image: url(/img/hero-background.png);
  background-color: #00416b;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .hero-header > h1 {
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.hero .hero-description > p {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/* ==========================================================================
Home Page We Recommend Body Styles Styles
========================================================================== */

.box-wrapping {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 60px 11%;
}

.recommend-header {
  display: flex;
  align-self: flex-start;
  padding-bottom: 60px;
}

.box-wrapping .recommend-header > h2 {
  font-family: 'AvenirNext-Medium';
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: #69bd45;
}

.box-wrapping-columns {
  display: flex;
  justify-content: center;
}

.ranking-column {
  display: flex;
  flex-direction: column;
  flex-basis: 800px;
}

.company-left {
  display: flex;
  flex-direction: column;
  flex-basis: 252px;
  padding-right: 78px;
}

.company-right {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.rating-wrapper {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 36px;
}

.ranking-logo > img {
  height: 57px;
  padding-bottom: 36px;
}

.company-slogan {
  padding-bottom: 21px;
}

.company-slogan > h4 {
  font-family: 'AvenirNext-Medium';
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #00416b;
}

.ranking-stars {
  display: flex;
  padding-bottom: 24px;
}

.ranking-stars ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ranking-stars ul > li {
  padding: 5px;
}

.ranking-stars ul li > img {
  display: flex;
  height: 17px;
  color: #dabf27;
}

.company-telephone {
  display: flex;
  padding-bottom: 23px;
}

.company-telephone > i {
  padding: 5px;
  font-size: 26px;
  color: #00416b;
}

.company-telephone > h3 {
  font-family: 'AvenirNext-Regular';
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #00416b;
}

.ranking-box {
  display: flex;
  border: solid 1px #ebebeb;
  padding: 24px 20px;
}

.company-name {
  padding-bottom: 36px;
}

.company-name > h3 {
  font-family: 'AvenirNext-Medium';
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #00416b;
}

.rating {
  font-weight: bold;
  font-family: 'AvenirNext-Bold';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #00416b;
}

.rating-bar {
  width: 360px;
  height: 10px;
  background-color: #69bd45;
}

.company-description > p {
  font-family: 'AvenirNext-Medium';
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #00416b;
}

ul.fa-ul {
  margin: 0;
}

.company-pros-list ul > li {
  font-family: 'AvenirNext-Medium';
  line-height: 35px;
  letter-spacing: 0.2px;
  color: #00416b;
}

.company-pros-list ul li > i {
  color: #45b5d0;
  font-size: 20px;
}

.blog-column {
  background: rgb(234, 245, 250);
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
}

.blog-item {
  margin: 0 20px;
}

.blog-item > hr {
  background-color: #00416b;
}

.blog-column {
  display: flex;
  flex-direction: column;
}

.blog-column > .social-icons {
  color: #00416b;
  text-align: center;
  font-size: 45px;
  letter-spacing: 10px;
  padding-top: 28px;
}

.blog-column .blog-snippet > h2 {
  font-size: 30px;
  line-height: 100px;
  font-family: 'AvenirNext-Medium';
  font-weight: 400;
  color: #00416b;
}

.blog-column .blog-snippet > p {
  font-family: AvenirNext-Medium;
  color: #00416b;
}

/* ==========================================================================
Home Page Service Info Styles Styles
========================================================================== */

.service-info-wrapper {
  display: flex;
  flex-direction: column;
}

.service-info-block-grey {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
  padding: 32px 11%;
}

.service-info-block-white {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 32px 11%;
}

.basic-info-column-left {
  display: flex;
  flex-direction: column;
}

.basic-info-column-right {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.basic-info-wrapper {
  display: flex;
  align-content: center;
  padding: 32px 0;
}

.basic-info-column-right .basic-info-img > img {
  height: 180px;
}

.basic-list-wrapper {
  display: flex;
  flex-direction: column;
}

.fees-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.high-risk-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.high-risk-info {
  display: flex;
  flex-direction: column;
  padding: 47px 0;
}

.high-risk-text {
  display: flex;
  flex-direction: column;
}

.high-risk-list {
  display: flex;
  flex-direction: column;
}

.card-processors-wrapper {
  display: flex;
  flex-direction: column;
}

.small-business-description-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

/* ==========================================================================
Top 3 Styles Styles
========================================================================== */

.top-three-providers {
  display: flex;
  flex-direction: column;
  padding: 0 11%;
}

.provider-logo > img {
  height: 44px;
  padding-bottom: 24px;
}

.provider-name > h3 {
  padding-bottom: 30px;
  font-family: 'AvenirNext-Regular';
  font-size: 24px;
  font-weight: 300;
  color: #00416b;
}

.provider-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 36px 0;
}

.provider-info-wrapper {
  display: flex;
  flex: 1;
}

.provider-best-for {
  flex: 1;
}

.provider-best-for > h4 {
  font-family: 'AvenirNext-Regular';
  font-size: 16px;
  color: #00416b;
}

.provider-pros-cons-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.provider-pros ul > li {
  font-family: 'AvenirNext-Regular';
  color: #00416b;
}

.provider-cons ul > li {
  font-family: 'AvenirNext-Regular';
  color: #00416b;
}

/* ==========================================================================
Top 3 Styles Styles
========================================================================== */

.faq-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

.faq-question {
  padding: 20px 0 12px 58px;
}

.faq-question:hover {
  background-color: #ebebeb;
  color: red;
}

/* ==========================================================================
Footer Styles Styles
========================================================================== */

.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #555555;
  color: #ebebeb;
  padding: 40px 0;
}

.footer .logo > img {
  width: 203px;
}

.copyright-text > p {
  text-align: center;
  color: #fff;
}

footer .links > ul {
  display: flex;
  list-style: none;
}

footer li {
  color: #ebebeb;
  margin-right: 10px;
}

footer li > a {
  text-decoration: none;
  color: #ebebeb;
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
